{% load static %}
<!DOCTYPE html>
{% include 'includes/messages.html' %}
<style>
   .alert{
       background-color: #2c2c2c;
       color: #ffffff;
       border: 1px solid #b39ddb;
       padding: 10px;
       border-radius: 5px;
       width: 30%;
       margin-top: 10px;
       margin-left: 65%;
       align-items: right;
   }
</style>
{% if messages %}
   {% for message in messages %}
       <div class="alert alert-{{ message.tags }}" role="alert">
           {{ message }}
       </div>
   {% endfor %}
{% endif %}
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>FinSmart Application|Login Page </title>
      <link rel="stylesheet" href="{% static 'login.css' %}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   </head>
   <body>
      <div class="center">
         <!-- <input type="checkbox" id="show">
         <label for="show" class="show-btn">View Form</label> -->
         <div class="container">
            <!--
               <label for="show" class="close-btn fas fa-times" title="close"></label>-->
            <div class="text">
               Login Form
            </div>
            <form method="POST" action="{% url 'login' %}">
               {% csrf_token %}
               <div class="data">
                  <label>Username</label>
                  <input type="text" name="username" required>
               </div>
               <div class="data">
                  <label>Password</label>
                  <input type="password" name="password" required>
               </div>
               <div class="forgot-pass">
                  <a href="#">Forgot Password?</a>
               </div>
               <div class="btn">
                  <div class="inner"></div>
                  <button type="submit">login</button>
               </div>
               <div class="signup-link">
                  Not a member?<a href="{% url 'register' %}">Register</a>

                   <!--<a href="{% url 'register' % }">Signup now</a>-->
               </div>
            </form>
         </div>
      </div>
   </body>
</html>